.not-same-month {
  visibility: hidden;

}

.selected {
  background: transparent linear-gradient(136deg, #F07F09 0%, #F07F09 100%) 0 0 no-repeat padding-box;
  box-shadow: 0 0 5px #FF003166;
  border-radius: 3px;
}

.selected p {
  color: #fff;
  font-family: Roboto;
}

.selected p:first-child {
  font-size: 18px;
  font-weight: 700;
}

.selected p:last-child {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: right !important;
}

.cursor-pointer {
  cursor: pointer;
}
