.app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

main {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

.navBar,
.footer {
  flex-shrink: 0;
}
