@font-face {
  font-family: 'SourceSansProBlack';
  src: local('SourceSansProBlack'), url('./SourceSansPro-Black.ttf') format('truetype');
};

@font-face {
  font-family: 'SourceSansProBlackItalic';
  src: local('SourceSansProBlackItalic'), url('./SourceSansPro-BlackItalic.ttf') format('truetype');
};

@font-face {
  font-family: 'SourceSansProBold';
  src: local('SourceSansProBold'), url('./SourceSansPro-Bold.ttf') format('truetype');
};
