* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'SourceSansPro', 'Roboto', sans-serif;
}

html,
body, #root {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
